volumes:
  influxdb-sepolia-store:
networks:
  anton-net:
    external: true
services:
  op-sepolia-influxdb:
    image: influxdb:latest
    ports:
      - "8087:8087"
    volumes:
      - influxdb-sepolia-store:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=geth
      - INFLUXDB_ADDR=0.0.0.0
      - INFLUXDB_PORT=8087
      - INFLUXDB_ADMIN_USER=geth
      - INFLUXDB_ADMIN_PASSWORD=geth
  # op-sepolia-reth:
  #   build:
  #     context: .
  #     dockerfile: ./op-sepolia-reth/op-reth.dockerfile
  #   ports:
  #     - "30309:30309/tcp" # eth/66 peering
  #     - "8549:8549" # rpc
  #     - "8559:8559" # engine
  #     - "9422:9422" # metrics
  #   volumes:
  #     - "/drives/L2/op-sepolia/op-reth:/db"
  #   networks:
  #     - anton-net
  op-sepolia-geth:
    build:
      context: .
      dockerfile: ./op-sepolia-geth/op-geth.dockerfile
    ports:
      - "30309:30309/tcp" # eth/66 peering
      - "8549:8549" # rpc
      - "8559:8559" # engine
      - "6069:6069" # metrics
    volumes:
      - "/drives/L2/op-sepolia/op-geth:/db"
    networks:
      - anton-net
    depends_on:
      - op-sepolia-influxdb
  op-sepolia-node:
    build:
      context: .
      dockerfile: ./op-sepolia-node/op-node.dockerfile
    ports:
      - "9222:9222/tcp" # p2p tcp
      - "7309:7309" # metrics
      - "5059:5059" # rpc
    volumes:
      - "/drives/L2/op-sepolia/op-node:/db"
      - "/drives/L2/op-sepolia/op-node:/safe-db"
    networks:
      - anton-net
    depends_on:
      - op-sepolia-geth
  l2-sepolia-eth-metrics-exporter:
    restart: unless-stopped
    image: ethpandaops/ethereum-metrics-exporter:debian-latest
    depends_on:
      - op-sepolia-geth
      - op-sepolia-node
    ports:
      - 9303:9303 # metrics
    volumes:
      - ./eth-metrics-exporter.yaml:/root/config.yaml
    command:
      - --config=/root/config.yaml
      - --metrics-port=9303
    networks:
      - anton-net
