global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
  - job_name: prometheus
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: node_exporter
    scrape_interval: 5s
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: reth
    scrape_interval: 5s
    static_configs:
      - targets: ['reth:9420']
  - job_name: lighthouse
    scrape_interval: 5s
    static_configs:
      - targets: ['lighthouse:5054']
  - job_name: sepolia-reth
    scrape_interval: 5s
    static_configs:
      - targets: ['sepolia-reth:9421']
  - job_name: sepolia-lighthouse
    scrape_interval: 5s
    static_configs:
      - targets: ['sepolia-lighthouse:5057']
  - job_name: eth_metrics_exporter
    scrape_interval: 5s
    static_configs:
      - targets: ['eth-metrics-exporter:9300']
  - job_name: eth_metrics_exporter_sepolia
    scrape_interval: 5s
    static_configs:
      - targets: ['sepolia-eth-metrics-exporter:9301']
